@model FitFileWorkoutsModel
@inject IExerciseRepository _exerciseRepository

@{
    ViewData["Title"] = "Workout History";
}

<button type="submit" class="btn btn-info btn-block" onclick="Home()">Back</button>

<br />

<div class="container">

    <h1 class="h4 mb-3 font-weight-normal text-center">Workout History</h1>

    <form action="/Home/History" method="post">
        <div class="form-group">
            <label for="sel1">View Workout History:</label>
            <select class="form-control" id="SelectedWorkoutDateForUser" name="SelectedWorkoutDateForUser" onchange="this.form.submit()">
                <option disabled selected>Select a date</option>
                @foreach (var p in Model.WorkoutDatesForUser)
                {
                    <option> @p.WoDate.ToString("MM/dd/yyyy") </option>
                }
            </select>
        </div>
    </form>

    @if (Model.WorkoutsOnSelectedDateForUser != null)
    {

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Exercise Name</th>
                            <th scope="col">Sets</th>
                            <th scope="col">Repititions</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>

                    @foreach (var x in Model.WorkoutsOnSelectedDateForUser)
                    {
                        <tbody>
                        <td>@_exerciseRepository.FindExerciseNameByID(x.WoExID).ExName</td>
                        <td>@x.WoSetCount</td>
                        <td>@x.WoRepCount</td>
                        <td>@x.WoWeightUsed</td>
                        <td>@x.WoDate.ToString("MM/dd/yyyy")</td>
                        </tbody>
                    }
                </table>
    }
            </div>